* {
  margin: 0;
  padding: 0;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-10 {
  width: 10%;
}

h1 {
  text-align: center;
}

input {
  border-radius: 5px;
  border: 1px solid black;
}

#searchBtn {
  min-width: 130px;
}

.search-field {
  padding-top: 2em;
  gap: 1em;
}

.company-name {
  text-align: center;
  font-weight: 700;
  font-size: xx-large;
  margin: 1rem 0 3rem 0;
}

.company-profile {
  align-items: center;
  padding-right: 30%;
  gap: 30%;
}

img { 
  padding: 2em 0em 2em 0em;
  width: 180px;
}

.Short-profile {
  font-weight: 500;
}

.container {
  width: 1000px;
}

span {
  color: rgb(8, 27, 114);
  font-weight: 600;
}

#CEO {
  padding-bottom: 1em;
}

#bar-chart {
  padding-top: 3em;
}

img.small {
  width: 50px;
  padding:0;
}

.list-group-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

p {
  margin-bottom: 0;
}

.red {
  color: red;
}

.green {
  color: green;
}

.marquee-wrapper {
  height: 4em;
}

.marquee {
  overflow: hidden;
  position: relative;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 30s linear infinite;
  animation-play-state: running;
  border: 1px solid #dbdbdb;
  padding-bottom: 10px;
  padding-top: 10px;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.marquee-name {
  min-width: fit-content;
  margin-left: 22.2px;
  margin-right: 5px;
  max-height: 10px;
  font-size: 1vw;
}

.marquee-price {
  font-size: 1vw;
}
